<%- include('./layouts/header') %>


<h1>profile</h1>
<div class="profile">
  <div>
    <p class="title">ID</p>
    
  </div>
  <div>
    <p class="title">Email/username</p>
    
  </div>
  <div>
    <p class="title">Role</p>
  
  </div>
  <div>
    <p class="title">User object</p>
  
  </div>
</div>
<%- include('./layouts/footer') %>